---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
	<main class="py-24">
		<div class="flex flex-col items-center gap-10">
			<div class="flex gap-10">
				<div class="font-bold text-6xl">About Algoup</div>
				<div class="text-gray-700 text-2xl text-left max-w-[60rem]">
					ALGOUP Inc. is an automation solution provider based in
					Seattle, WA, focusing on R&D, manufacturing and distribution
					of mobile robots, intelligent equipment and associated
					services, providing end-to-end cost beneficial solutions
					with close-to-edge technologies. Over the years, the company
					has developed a series of robot products, incl. AGVs and
					AMRs, as well as intelligent software systems, e.g., RCS
					(robot control system), WMS (warehouse management system)
					etc.
				</div>
			</div>
			<div class="flex gap-12">
				<div>
					<div>500 Team Member</div>
					<div>70% R&D Personnel</div>
					<div>450+ Deployed Projects</div>
					<div>30 Serving Countries</div>
				</div>
				<div class="max-w-[60rem]"><img src="/company-hq.jpg" /></div>
			</div>
		</div>
	</main>
</Layout>
