---
import Layout from "../layouts/Layout.astro";
import Slide from "../components/Slide.astro";
---

<Layout title="Algoup">
	<main>
		<div class="slide-container w-full h-screen">
			<Slide
				bgColor="bg-slate-700"
				bgImage="bg-[url('/agv-home-1.jpg')]"
				text="Powerful and Intelligent Solutions">
				<div class="text-black text-5xl font-bold max-w-2xl">
					Empowering Technology with End to End Solutions
				</div>
			</Slide>
		</div>
	</main>
</Layout>

<style>
	main {
	}
</style>
