---
import Layout from "../layouts/Layout.astro";
import Slide from "../components/Slide.astro";
---

<Layout title="Algoup">
	<main>
		<div class="slide-container w-full h-screen mt-19">
			<Slide
				center="items-center"
				bgColor="bg-slate-700"
				bgImage="bg-[url('/agv-home-1.jpg')]"
				text="Powerful and Intelligent Solutions">
				<div class="text-orange-300 text-5xl font-bold max-w-2xl">
					Empowering Technology with End to End Solutions
				</div>
			</Slide>

			<Slide
				center=""
				bgColor="bg-zinc-800"
				bgImage=""
				text="Powerful and Intelligent Solutions">
				<div class="text-white text-5xl font-bold text-center w-full">
					Product Center
				</div>
			</Slide>
		</div>
	</main>
</Layout>

<style>
	main {
	}
</style>
