---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Products">
	<div class="text-center">Automous Mobile Robots (AMRs)</div>

	<table class="table-auto">
		<thead>
			<tr>
				<th>AMRs</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Model Name</td>
			</tr>
			<tr>
				<td>Max. Lifting Height (mm)</td>
			</tr>
			<tr>
				<td>Max. Payload Weight (kg) </td>
			</tr>
			<tr>
				<td>Pallet Size (mm) </td>
			</tr>
			<tr>
				<td>Navigation </td>
			</tr>
			<tr>
				<td>Driving Type </td>
			</tr>
			<tr>
				<td>Motor Type </td>
			</tr>
			<tr>
				<td>Obstacle Avoidance </td>
			</tr>
			<tr>
				<td>L/W/H (mm) </td>
			</tr>
		</tbody>
	</table>

	<div class="text-center">Automous Guided Vehicles</div>
</Layout>
