.gridContainer {
    grid-template-areas:
        "counterbalance counterbalance tractor tractor"
        "counterbalance counterbalance forklift palletstacker"
        "lifting lifting forklift palletstacker";
}

.counterbalance {
    grid-area: counterbalance;
}
.tractor {
    grid-area: tractor;
}
.slimforklift {
    grid-area: forklift;
}
.palletstacker {
    grid-area: palletstacker;
}
.lifting {
    grid-area: lifting;
}
