---
interface Props {
	number: string;
    text: string;
}

const { number, text} = Astro.props;
---

<div class="border-b border-b-gray-800">
    <div class="font-bold text-3xl">{number}</div>
    <div class="text-xl my-3">{text}</div>
</div>