---
import NavbarLink from "./NavbarLink.astro";
---

<nav class="fixed top-0 w-full bg-zinc-900 p-5">
	<div class="flex justify-between">
		<!-- Logo Link -->
		<a href="/" class="text-orange-500 font-semibold text-3xl">ALGOUP</a>

		<!-- Navbar Items (Right) -->
		<div class="text-lg flex gap-5 text-white items-center">
			<NavbarLink link="/" text="Home" />
			<NavbarLink link="/products" text="Products" />
			<NavbarLink link="/technology" text="Technology" />
			<NavbarLink link="/service" text="Service" />
			<NavbarLink link="/news" text="News" />
			<NavbarLink link="/about" text="About Us" />
			<div class="text-black bg-white px-3 py-1 rounded-2xl">
				<a href="/contact">Contact Us</a>
			</div>
		</div>
	</div>
</nav>
