---
import NavbarLink from "./NavbarLink.astro";
---

<nav class="fixed top-0 w-full">
	<div class="flex justify-between p-8">
		<NavbarLink link="/" text="ALGOUP" />

		<div class="text-lg font-semibold flex gap-5 text-white">
			<NavbarLink link="/" text="Home" />
			<NavbarLink link="/products" text="Products" />
			<NavbarLink link="/technology" text="Technology" />
			<NavbarLink link="/service" text="Service" />
			<NavbarLink link="/news" text="News" />
			<NavbarLink link="/about" text="About Us" />
			<NavbarLink link="/contact" text="Contact Us" />
		</div>
	</div>
</nav>
