<div class="flex flex-col gap-12">
	<div>
		<div class="font-bold text-3xl">Parameter 1</div>
		<div class="text-gray-700 text-xl">
			Parameter 1's long description here
		</div>
	</div>

	<div>
		<div class="font-bold text-3xl">Parameter 2</div>
		<div class="text-gray-700 text-xl">
			Parameter 2's long description here
		</div>
	</div>

	<div>
		<div class="font-bold text-3xl">Parameter 3</div>
		<div class="text-gray-700 text-xl">
			Parameter 3's long description here
		</div>
	</div>
</div>
