---
interface Props {
	companyName: string;
    imageUrl: string;
}

const { companyName, imageUrl} = Astro.props;
---

<div class="bg-gray-100 flex flex-col justify-center items-center w-[20rem] py-5 px-10">
    <div class="p-10"><img src={imageUrl} /></div>

    <div class="border-gray-300 border w-full mb-5"></div>

    <div class="font-semibold">{companyName}</div>
</div>