---
interface Props {
	text: string;
	bgColor: string;
	bgImage: string;
}

const { text, bgColor, bgImage } = Astro.props;
---

<div
	class:list={[
		"w-full h-screen flex items-center gap-12 p-10 bg-no-repeat bg-cover",
		bgColor,
		bgImage,
	]}>
	<slot />
</div>

<style></style>
