---
interface Props {
	title: string;
	values: string[];
	links: string[];
}

const { title, values, links } = Astro.props;
---

<td class="text-zinc-900 font-semibold border-t">{title}</td>
{
	links.length === 0 &&
		values.map((tableValue) => (
			<td class="border-t p-4 font-medium">{tableValue}</td>
		))
}

{
	links.length > 0 &&
		values.map((tableValue, index) => (
			<td class="border-t p-4 font-semibold">
				<a href={`/products/${links[index]}`}>{tableValue}</a>
			</td>
		))
}
